
<script
  src="https://code.jquery.com/jquery-3.4.1.js"
  integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU="
  crossorigin="anonymous"></script>
         

<div class="contents row">
  <% @blogs.each do |blog|%>
  <%= render partial: "blog", locals: { blog: blog } %>

  <%end%>
</div>
    